[run]
branch = True
source = app/personalWebsiteFlask/

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    app/tests/*
    app/assets/*
    app/node_modules/*
    app/personalWebsiteFlask/commands.py